.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 45px;
  box-sizing: border-box;

  .register-container {
    width: 100%;
    max-width: 700px;
    padding: 48px 45px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 24px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
  }

  .register-content {
    text-align: center;
    margin-bottom: 42px;

    h1 {
      margin: 0;
      color: #162131;
      font-size: clamp(36px, 3vw, 45px);
      font-weight: 800;
    }

    .subtitle {
      margin: 14px 0 0;
      color: #8a9199;
      font-size: 20px;
    }
  }

  .profile-input-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    width: 100%;
    box-sizing: border-box;

  }

  /* =========================================
       LOGIN TEXT
    ========================================= */

  .login-text {
    text-align: center;
    margin-top: 20px;
    color: #6b7280;
    font-size: 13px;

    a {
      color: #28874f;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* =========================================
       TABLET
    ========================================= */

  @media (max-width: 900px) {
    .register-container {
      max-width: 750px;
    }

    .overlay-content {
      h2 {
        font-size: 28px;
      }
    }

    .register-content {
      h1 {
        font-size: 30px;
      }
    }
  }

  /* =========================================
       MOBILE
    ========================================= */

  @media (max-width: 768px) {
    align-items: flex-start;
    padding: 25px 16px 35px;

    .register-container {
      min-height: 100vh;
      max-width: 100%;
      border-radius: 0;
      flex-direction: column;
    }

    .profile-input-row {
      grid-template-columns: 1fr;
      gap: 12px;
    }

    .overlay-content {
      h2 {
        font-size: 25px;
      }

      p {
        font-size: 13px;
      }
    }
  }

  /* =========================================
       SMALL MOBILE
    ========================================= */

  @media (max-width: 400px) {
    .register-content {
      h1 {
        font-size: 27px;
      }
    }

    .register-container {
      padding: 25px 15px;
    }

    .subtitle {
      margin-bottom: 25px;
    }
  }
}