@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-primary);
}

:root {

    --font-primary: "Poppins", sans-serif;


    --primary: #29864e;
    --primary-hover: #238548;
    --primary-light: #e7fbf0;
    --primary-soft: #f1faf5;


    --text-primary: #162131;
    --text-secondary: #6b7280;
    --text-muted: #8a9199;


    --bg-primary: #ffffff;
    --bg-secondary: #f8faf8;
    --bg-tertiary: #edf7ef;


    --border: #d9dee7;
    --border-primary: #31945a;
    --border-focus: #299456;


    --input-bg: #ffffff;
    --input-border: #d9dee7;
    --input-border-focus: #299456;
    --input-focus-shadow: 0 0 0 3px rgba(41, 148, 86, 0.1);


    --button-bg: #299555;
    --button-hover: #238548;
    --button-text: #ffffff;
    --button-border: #abe3c2;
    --button-shadow: 0 6px 15px #ddf4e7;


    --success: #16a34a;
    --error: #dc2626;
    --warning: #f59e0b;


    --gradient-one: #238548;
    --gradient-two: #4caf72;
    --box-shadow: 0 5px 20px rgba(15, 40, 70, 0.035);

}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 24px;
}


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.jc {
    justify-content: center;
}

.align {
    align-items: center;
}

.height {
    height: 100vh;
}

.sb {
    justify-content: space-between;
}